*{margin:0;padding:0;}

body{}

.hero{
	width: 100%;
	height: 100vh;
	background: #000;
	overflow: hidden;
}
.carousel{
	width: 100%;
	margin: 100px auto 0;
	overflow: visible;
	padding-top:70px;
}

/*Para todos os produtos em article*/
article.produg{
	width:230px;
	height:300px;
	
	border:1px solid #fff;
	background-color: rgba(255,255,255,.9);
	display:flex;
	flex-flow:column nowrap;
}
article.produg:hover{
	border:1px solid #003200;
	box-shadow: 0px 0px 20px 10px #003200;
}
article.produg div.produg-categoria-iconerede{
	width:100%;
	height:30px;
	
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
}
article.produg div.produg-categoria-iconerede h2{
	font-size:10px;
	background: linear-gradient(90deg, rgba(255,255,255,.1) 0%, rgba(0,50,0,.6) 70%);

	height:15px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-right-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomright: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

article.produg div.produg-categoria-iconerede img{
	max-width:30px;
	margin-top:0;
}


article.produg img.imagem-G{
	background:#ccc;
	
	margin:auto;
	width:120px;
	height:120px;
	border-radius:100%;
	
}
article.produg h1{
	text-align:center;
	font-size:20px;
}
article.produg h2{
	text-align:center;
	font-size:12px;
}
article.produg h3{
	text-align:center;
	font-size:10px;
	color:#ccc;
}
article.produg button.mais-info-grup{
	width:33.3%;
	margin:auto;
	text-align:center;
}
